<% @page_title = 'Create Employee' %>

<div class="employee new">
    <h2 class="pagetitle">Create Employee</h2>
    <hr />
    <div class='alignleft'>
        <%= link_to(content_tag( :span, "Back to List"), {:action => 'list'}, :class => 'button') %>
    </div>
    <br/>
    <hr />
    <div id="content-full">
    <div id="contsmallleft">
            <hr/>
            <div id='conthold' align="center">

                <br/>
                <h2 >New Employee</h2>
                <img  src="/images/themeimg/default-avatar.png">
                <hr/>
            </div>  
    </div>
        <div id="contleft">
          <%= form_for(:employee, :html => { :multipart => true }, :url => {:action => 'create'}) do |f| %>
            <hr/>
            <div id='conthold'>
                <br/>
                <h5>Use the following form to add new employee.</h5>
                <%= render(:partial => "form", :locals => {:f => f}) %>
                <div class="tool_btn">
                    <input type="submit" name="submit" class="button" value="Create Employee" />
                </div>
                <hr/>
            </div>
            <% end %>
        </div>
    </div>
</div>
