<% @page_title = "Edit Category: #{@category.name}" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="category edit">
  <h2>Update Category</h2>

  <%= form_for(:category, :html => { :multipart => true }, :url => {:action => 'update', :id => @category.id}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Category") %>
    </div>
    
  <% end %>
</div>
