<% @page_title = "Add New Category" %>

<div class="category new">
    <h1 class="pagetitle">Create Category</h1>
    <hr />
    <div class='alignleft'>
        <%= link_to(content_tag( :span, "Back to List"), {:action => 'list'}, :class => 'button') %>

    </div>
    <br/>
    <hr />
    <div id="content-full">
        <%= form_for(:category, :html => { :multipart => true }, :url => {:action => 'create'}) do |f| %>
        
                    <div id="contsmallleft">
            <hr/>
            <div id='contholdl' align="center">

                <br/>
                <h2 >New Category</h2>
                <img  src="/images/themeimg/category.jpg">
                <hr/>
            </div>  
            </div>
        
        <div id="contleft">
            <hr/>
            <div id='conthold'>

                <br/>
                <h5>Use the following form to add new Category.</h5>
                <%= render(:partial => "form", :locals => {:f => f}) %>

                <div class="tool_btn">
                    <input type="submit" name="submit" class="button" value="Create Category" />
                </div>
                <hr/>
            </div>
            <% end %>

        </div>
    </div>

