<% @page_title = "Create Product" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="product new">
  <h2>Create Product</h2>
  
  <%= form_for(:product,:html => { :multipart => true }, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Product") %>
    </div>
    
  <% end %>
</div>
