<!-- START PRODUCT -->
            <ul id="product-detail" class="layout clear">
                <li class="left">
                    <!-- START PRODUCT TITLE -->
                    <div id="product-title">
                        <h3>Purple Buds</h3>
                        <em class="credit">Andrew Smith: Cuba Gallery</em>
                    </div>
                    <!-- END PRODUCT TITLE -->

                    <!-- START PRODUCT OPTIONS -->
                    <div id="product-options">
                        <form action="http://www.cubagallery.co.nz/cart/add" method="post">
                            <div id="product-variants">
                                <div class="selector-wrapper">
                                    <select class="single-option-selector" id="product-select-option-0">
                                        <option value="Web: (500 x 500px)">Web: (500 x 500px)</option><option value="Small: (1181 x 1181px)">Small: (1181 x 1181px)</option><option value="Medium; (1772 x 1772px)">Medium; (1772 x 1772px)</option><option value="Large: (3543 x 3543px)">Large: (3543 x 3543px)</option>
                                    </select>
                                </div>
                                <select id="product-select" name="id" style="display: none; ">

                                    <option value="69331612">Web: (500 x 500px) - $49.00</option>
                                    <option value="69331622">Small: (1181 x 1181px) - $69.00</option>
                                    <option value="69331632">Medium; (1772 x 1772px) - $150.00</option>
                                    <option value="69331642">Large: (3543 x 3543px) - $250.00</option>
                                </select>
                            </div>
                            <div id="purchase" class="clear">
                                <input type="image" src="../images/ubttheme/btn-purchase.png" name="add" value="Add to Cart " id="add-to-cart">
                                <h2 id="price-field" class="price">$49.00 USD</h2>
                            </div>
                            <div id="normal-price" class="clear">

                            </div>
                        </form>
                    </div>
                    <!-- END PRODUCT OPTIONS -->

                    <!-- START PRODUCT DESCRIPTION -->
                    <div id="page-content">
                        <p>
                            This image comes in four different resolutions, select the required file size from the drop down menu above. Please note that the image will be sent to you via a secure download link. The Image specifications are listed below.
                        </p>
                        <ol>
                            <li>
                                <b>Large: </b>30 x 30cm (3543 x 3543px)
                            </li>
                            <li>
                                <b>Medium: </b>15 x 15cm (1772 x 1772px)
                            </li>
                            <li>
                                <b>Small: </b>10 x 10cm (1181 x 1181px)
                            </li>
                            <li>
                                <b>Web: </b>500 x 500px
                            </li>
                        </ol>
                    </div>
                    <!-- END PRODUCT DESCRIPTION  -->

                </li>
                <li class="right">
                    <!-- START PRODUCT IMAGE-->
                    <div id="product-image">

                        <img src="../images/ubttheme/AES7652_425.jpg" alt="Purple Buds">

                    </div>
                    <!-- END PRODUCT IMAGE -->
                </li>
            </ul>
            <!-- END PRODUCT -->